---
layout: default
---
        <h1 class="index">{{ site.tagline }}</h1>
        
       

        <!--Búsqueda-->
        <a href="search"><div class="search-index"><i class="fa fa-search" aria-hidden="true" class="search-index"></i></div></a>

        <!-- Last from series -->
        <div class="row obras obra-suerte">
            <h2 class="index">Last translation from the series</h2>
        </div>
        {% include last-series.html %}
        
        <!--Forthcoming translations -->        
        <div class="row obras obra-suerte">
            <h2 class="index">Now in translation</h2>
        </div>
        {% include forthcoming-list.html %}
        
        <!--Some other book translations -->        
        <div class="row obras obra-suerte">
            <h2 class="index">Other book translations</h2>
        </div>
        {% include book-list-translations.html %}
       
        <!--Descargables-->
        <div class="row obras">
            <h2 class="index">Books for download</h2>
        </div>
        {% include book-list-download.html %}

        <!-- One random book -->
        <div class="row obras obra-suerte">
            <h2 class="index">One book by chance</h2>
        </div>
        {% include book-sample.html %}

        <!--No descargables-->
        <div class="row obras">
            <h2 class="index">More books to explore</h2>
        </div>
         {% include book-list-no-download.html %}
        
       